hello-step-functions/local-stepfunctions.json
{
  "Comment": "簡単な計算をするフロー",
  "StartAt": "TaskInitialSetting",
  "Version": "1.0",
  "TimeoutSeconds": 300,
  "States": {
    "TaskInitialSetting": {
      "Comment": "初期の値を設定します",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SampleSettingFunction",
      "InputPath": "$",
      "ResultPath": "$.SettingResult",
      "OutputPath": "$",
      "Next": "TaskAddition"
    },
    "TaskAddition": {
      "Comment": "足し算をおこないます",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SampleAdditionFunction",
      "InputPath": "$",
      "ResultPath": "$.AdditionResult",
      "OutputPath": "$",
      "Next": "TaskMultiply"
    },
    "TaskMultiply": {
      "Comment": "掛け算をおこないます",
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SampleMultiplyFunction",
      "InputPath": "$",
      "ResultPath": "$.MultiplyResult",
      "OutputPath": "$",
      "End": true
    }
  }
}
